.t-Cards--col .t-Cards-item { width: 100%; }
pre {font-family: sans-serif;font-size: 11px;}
.t-Card-info1 { font-size: 1.1rem; line-height: 2rem; margin-top: 6px; margin-bottom: 12px; white-space: wrap; overflow: hidden; text-overflow: ellipsis; color:black; }
.t-Cards--basic .t-Card-desc1{ font-size: 14px; line-height: 20px; margin-top: 12px; color:black; }
.t-Cards--compact .t-Card-desc1 { font-size: 12px; line-height: 16px; margin-top: 12px; color:black;}
.t-Cards--featured .t-Card-desc1 { font-size: 14px; line-height: 20px; margin-top: 12px; color:black;}
 